/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-91c2597c-axc87rvw version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-title  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 38rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(237, 237, 237);
						
						letter-spacing: -0.05em;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 850px;
						
						margin-right: 30px;
						
						margin-top: 50px;
						
						margin-left: 30px;
						
						margin-bottom: 30px;
						
						background-color: rgba(159, 80, 80, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-item-links span  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw #sr-basket-widget *  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(131, 131, 131);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 15px;
						
						padding-left: 30px;
						
						padding-top: 15px;
						
						margin-bottom: 30px;
						
						font-family: Montserrat;
						
						background-color: rgb(243, 243, 243);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-item-links span:hover  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0.62);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .middle_layout .helper-div  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .inner-pic  {
		
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-form .Field  {
		
						border-width: 0px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(57, 57, 57);
						
						max-width: 350px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 15px;
						
						min-width: 220px;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0.89);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-body  {
		font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Montserrat;
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 70px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-form .Field:hover  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(236, 234, 225);
						
						background-color: rgb(198, 198, 198);
						
						color: rgb(228, 228, 228);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .field-holder  {
			
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-subtitle  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						line-height: 1.1em;
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-form .Field.no-value:not(:hover)  ,  .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgba(27, 27, 27, 0.99);
							
		}
	 .style-bd31e0a8-dzebo07f .style-91c2597c-axc87rvw .background-div  {
			
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/








 .style-91c2597c-axc87rvw #vbid-91c2597c-tfu59cyr.inner-pic{
				
							background-position : 49.5402% 60.3837%, 49.5402% 60.3837%;
					
				}












/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
