<!DOCTYPE html>
<html lang="en">
<head>
  <title>Organization Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style> 
  body {
    background-image: url({{ image_file }});
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
  }
  </style>
<body>
  {% if current_user.organization_name %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <a class="navbar-brand" href="#"> Learning App</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span> </button>
  <div class = "navbar-collapse collapse" id="collapsibleNavbar">
  <ul class="navbar-nav ml-auto">
    
    <li class="nav-item ">
      <a class="nav-link" href="{{url_for('organization')}}">Home</a>
    </li>
    
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('organization')}}">{{current_user.organization_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('organization_logout')}}">Logout</a>
      </li>
  </ul>
</div>
</nav>
<br>

<div class = "col-md-8">
{% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class = "alert alert-{{ category }}">
    {{message}}
  {% endfor %}
  {% endif %}
{% endwith %}
</div>
</div>
<h1 class="display-3" style="text-align: center;margin-top: 10%;color: blanchedalmond;">MANAGE YOUR COLLEGE</h1>
</div>
<div>
  <div class="btn-group btn-group-lg" style="margin-left: 37.8%; height: 100%;">
    <a href = "{{url_for('make_classes')}}"><button type="button" class="btn btn-secondary">Make Classes</button>
    <a href = "{{url_for('edit_staff')}}"><button type="button" class="btn btn-secondary">Add/Remove Staff</button>
    <a href = "{{url_for('edit_staff_details')}}"><button type="button" class="btn btn-secondary">Edit Staff details</button>
  </div> 
</div>
{% else %}
<div class="card" style = "max-width: 50%;margin-left: 25%;margin-top: 20%;" >
  <div class = "card-header bg-danger">Inappropriate account</div>
  <div class="card-body"><p>Sorry This page is not accesible! you can logout and login through an organization administrator account.</p><br>
    <a href = "{{url_for('teacher_logout')}}" ><button type="button" class="btn btn-secondary">Logout</button></a>
  </div>
</div>
{% endif %}

</body>
</html>
