/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3fc7f835-ba7hzeoa version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 550px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 45px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-divider  {
		
						margin-bottom: 10px;
						
						border-bottom-width: 1px;
						
						margin-top: 5px;
						
						width: 10%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.08;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .Field  {
		
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgb(9, 9, 9);
						
						max-width: 500px;
						
						padding-right: 10px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						min-width: 220px;
						
						border-width: 0px;
						
						background-color: rgb(244, 244, 244);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .Field:hover  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(0, 0, 0);
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .Field:not(.placeholder-mode):not(.no-value):not(:hover)  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .background-div  {
		
						opacity: 0.4;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa.master.item-box   {
		
						background-color: rgb(239, 239, 239);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-title  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 0px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-item-links span  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa #sr-basket-widget *  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 32rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.15em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 0px;
						
						padding-top: 15px;
						
						margin-bottom: 5px;
						
						border-width: 2px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-element.icon-source  {
		
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 80px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .Field.no-value:not(:hover)  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-item-links span:before  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-item-links span:hover  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						max-width: 800px;
						
						margin-top: 10px;
						
						margin-bottom: 25px;
						
						line-height: 1.4em;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .field-holder  {
			
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .middle_layout .helper-div  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-subtitle  ,  .style-9d79c6cd-dzebo07f .style-3fc7f835-ba7hzeoa .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(48, 48, 48);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 15px;
						
						line-height: 1.1em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
