/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-eb5a9cca-4ujdudiw version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 750px;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 20px;
						
						background-color: rgba(159, 80, 80, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .item-content:not(.blocks_layout)  {
		
						background-color: rgb(30, 30, 30);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-divider  {
		
						margin-bottom: 15px;
						
						width: 25%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .Field  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(188, 188, 188);
						
						max-width: 600px;
						
						padding-right: 10px;
						
		    			border-top:none;border-left:none;border-right:none;border-bottom-style:solid;
						padding-left: 10px;
						
						padding-top: 15px;
						
						min-width: 220px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .Field:hover  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
						
						color: rgb(67, 67, 67);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .Field:not(.placeholder-mode):not(.no-value):not(:hover)  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .background-div  {
			
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-title  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-bottom: 5px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-item-links span  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw #sr-basket-widget *  { font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(236, 234, 225);
						
						padding-bottom: 15px;
						
						border-color: rgb(131, 131, 131);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 35px;
						
						padding-left: 30px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-element.icon-source  {
		
						margin-bottom: 25px;
						
						width: 50px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .Field.no-value:not(:hover)  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(188, 188, 188);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-item-links span:before  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .effect-tester  { 
						background-color: rgb(106, 106, 106);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-item-links span:hover  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(106, 106, 106);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .inner-pic-holder  {
		
						background-color: rgb(23, 23, 23);
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-body  {
		font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgba(254, 252, 252, 0.611765);
						
						letter-spacing: 0.25em;
						
						max-width: 800px;
						
						margin-top: 5px;
						
						margin-bottom: 15px;
						
						font-family: Abel;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .field-holder  {
			
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .middle_layout .helper-div  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-subtitle  ,  .style-9d79c6cd-dzebo07f .style-eb5a9cca-4ujdudiw .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
