/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b8832a40-l7mvuxhq version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-divider  {
		
						margin-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .inner-pic  {
		
						opacity: 0.17;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-title  ,  .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 51rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-item-links span  ,  .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .stripe-background  {
		
		    			-webkit-filter:none;filter:none;	
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-top: 0px;
						
						margin-bottom: 10px;
						
						width: 50px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-link-img  {
		
						width: 30px;
						
						margin: 11px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-item-links span:hover  ,  .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .inner-pic-holder  {
		
						background-color: rgb(180, 214, 234);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-item-links span:before  ,  .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(89, 89, 89);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .middle_layout .helper-div  ,  .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-subtitle  ,  .style-bd31e0a8-dzebo07f .style-b8832a40-l7mvuxhq .preview-body h2  { 
						line-height: 1.5em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 15px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: "Playfair Display";
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-b8832a40-l7mvuxhq #vbid-b8832a40-iv93kcba .preview-content-holder{
				
							text-align : center;
					
				}


 .style-b8832a40-l7mvuxhq #vbid-b8832a40-wdlncj80.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}











 .style-b8832a40-l7mvuxhq #vbid-b8832a40-iv93kcba .preview-content-wrapper{
				
							text-align : left;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
