<!DOCTYPE html>
<html lang="en">
<head>
  <title>Organization Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style> 
  body {
    background-image: url("images/c5b9f691870a146217aad4cf5e1636a3.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
  }
  </style>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="#"><p style="color: black;">Learning App</p></a>
  <div class = "navbar-collapse collapse justify-content-between">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ">
      <a class="nav-link" href="#"><p style="color:black;">Home</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><p style="color: black">Organization's account</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><p style="color: black">Log out</p></a>
    </li>
  </ul>
</div>
</nav>
<br>
<div >
<h1 class="display-3" style="text-align: center;margin-top: 145px;color: blanchedalmond;">MANAGE YOUR COLLEGE</h1>
</div>
<div>
  <div class="btn-group btn-group-lg" style="margin-left: 650px; height: 60px;">
    <button type="button" class="btn btn-secondary">Make Classes</button>
    <button type="button" class="btn btn-secondary">Add/Remove Staff</button>
    <button type="button" class="btn btn-secondary">Edit Staff details</button>
  </div> 
</div>


</body>
</html>
